In [2]:
import pandas as pd

In [3]:
!ls

msmarco  toy_data  Untitled.ipynb

In [4]:
!ls msmarco

all_dev_queries  full_collection	train_queries  triplets
dev_qrel.json	 hard_negatives_scores	TREC_DL_2019   val_retrieval
dev_queries	 splade_triplets	TREC_DL_2020   vienna_triplets

In [5]:
!ls msmarco/full_collection/

raw.tsv

In [6]:
x = pd.read_csv("msmarco/full_collection/raw.tsv",sep='\t')

In [7]:
x.head()

,0,The presence of communication amid scientific minds was equally important to the success of the Manhattan Project as scientific intellect was. The only cloud hanging over the impressive achievement of the atomic researchers and engineers is what their success truly meant; hundreds of thousands of innocent lives obliterated.
0,1,The Manhattan Project and its atomic bomb help...
1,2,Essay on The Manhattan Project - The Manhattan...
2,3,The Manhattan Project was the name for a proje...
3,4,versions of each volume as well as complementa...
4,5,The Manhattan Project. This once classified ph...

In [8]:
len(x.index)

8841822

In [ ]:
# Love this! Thanks Allen!